h1 {
  color: rgb(100, 50, 100);
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 42px;
  letter-spacing: 3px;
  background-color: rgb(220, 220, 0);
  text-indent: 10px;
}

p, li, ul, body {
  color: rgb(220, 220, 0); 
  font-family: "Georgia", Times, serif;
  font-size: 16px;
  text-align: left;
  background-color: rgb(100, 50, 100); 
  margin-left: 10px;
}

body {
  background-color: rgb(100, 50, 100); 
  border-style: solid;
} 

li,ul {
  margin-left: 0px;
}

html {
  background-image: url("images/GoldAndPurple.bmp");
  background-repeat: repeat-y;
  background-position: left-top;
}

* {
  background-color: rgb(140, 70, 140); 
  margin-right: 210px;
}