h1 {
	color: rgb(120, 60, 120);
	font-family: "Helvetica", Arial, sans-serif;
	font-size: 42px;
	letter-spacing: -2px;
	text-shadow: 1px 1px rgb(10, 0, 10);
	background-color: rgb(200, 200, 0);
	text-align: left;
	margin-left: 0px;
	margin-right: 0px;
	width: 950px;
}

p, li, ul {
	color: rgb(220, 220, 0);
	font-family: "Georgia", Times, serif;
	font-size: 16px;
	text-align: left;
	margin-right: 0px;
	width: 950px;
}

body {
	background-color: rgb(70, 20, 70);
	border-style: dotted;
	width: 1050px;
}

html {
	background-image: url("images/GoldAndPurple.bmp");
	background-attachment: fixed;
	background-repeat: repeat-y;
	<!--background-position: left-top;-->
}

div.mainbox {
	padding-left:20px;
}

div.buttonholder {
	text-align: right;
}

button.next {
    background-color: rgb(200, 200, 0);
		color: rgb(120, 60, 120);
		padding: 8px 10px;
		border-color: rgb(100, 50, 100);
		text-align: center;
		font-size: 24px;
		margin-right: 4px;
		margin-bottom: 4px;
}
