h1 {
	color: rgb(140, 85, 0);
	font-family: "Verdana", Arial, sans-serif;
	font-size: 42px;
	letter-spacing: -2px;
	text-shadow: 2px 2px rgb(40, 0, 0);
	background-color: rgb(140, 0, 0);
	text-align: center;
	margin-left: 20%;
	margin-right: 20%;
}

p {
	margin-left: 20%;
	margin-right: 20%;
	color: rgb(250, 100, 100);
	font-family: "Georgia", Times, serif;
	font-size: 18px;
	text-align: center;
}

body {
	margin-left: 20%;
	margin-right: 20%;
	background-color: rgb(80, 50, 0);
	border-style: dotted;
}

html {
	background-color: rgb(120, 80, 0);
	background-image: url("images/RedAndBrown.png");
	background-attachment: fixed;
}

span.colorexample {
	font-family: "Georgia", Times, serif;
	font-size: 18px;
	text-align: center;
}

div.lighterbrown {
	background-color: rgb(160,102,43);
	color:rgb(200,0,0)
	font-family: "Georgia", Times, serif;
	font-size: 18px;
	text-align: center;
	margin-left: 20%;
	margin-right: 20%;
}

div.buttonholder {
	margin-top: 5px;
}

button.back {
	background-color: rgb(140, 0, 0);
	color: rgb(140, 85, 0);
	border-color: rgb(80, 50, 0);
	text-align: center;
	font-size: 24px;
	width: 15%;
	padding-top: 1%;
	padding-bottom: 1%;
	margin-left: 1%;
	margin-bottom: 1%;
	margin-right: 67.25%;
}

button.next {
	background-color: rgb(140, 0, 0);
	color: rgb(140, 85, 0);
	border-color: rgb(80, 50, 0);
	text-align: center;
	font-size: 24px;
	width: 15%;
	padding-top: 1%;
	padding-bottom: 1%;
	margin-bottom: 1%;
}
